.naviDiv{
    width: 80%;

}

.DeleteBtn{
    color: #FFF;
    border-radius: 16px;
    background: linear-gradient(110deg, #981EF7 20.78%, #5520AC 84.3%);
   padding: none !important;
    border: none;
    cursor: pointer;
    outline: none;
    width: 82px;
    height: 33px;

  }
  .fileInpPOp{
    background-color: transparent !important;
    border: none !important;
    color: white !important;
  }

.naviDiv1{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.searchEmp{
    display: flex;
    gap: 10px;
}
.searchInp{
    height: 39px;
    border-radius: 15px;
    outline: none;
    border: 1px solid black;
    padding-left: 20px;
    width: 250px;
}
.searchBtn{
    color: #FFF;
    border-radius: 16px;
    background: linear-gradient(110deg, #981EF7 20.78%, #5520AC 84.3%);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
    border: none;
    cursor: pointer;
    outline: none;
    width: 104px;
}