@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.otp-popup{

background-color: yellow;
}

.register_container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://i.redd.it/dq7zpx79hnu61.jpg");
  /* background-image: url("https://wallpaperaccess.com/full/1149125.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.register_box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register_left {
  border-radius: 15px;
  background: rgba(209, 209, 209, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 15px;
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 520px;
  background-color: white;
}

.form_here {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}

.form__group2 {
  position: relative;
  padding: 15px 0 0;
  width: 100%;
  border-bottom: 1px solid black;
  /* margin-bottom: 16px; */
}

.form__field1 {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 17px;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field1::placeholder {
  color: transparent;
}

.form__field1:placeholder-shown ~ .form__label1 {
  font-size: 15px;
  cursor: text;
  top: 7px;
}

.form__label1 {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #1b1b1b;
  pointer-events: none;
}

.form__field1:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  /* border-image: linear-gradient(to right, #116399, #38caef); */
  border-image-slice: 1;
}

.form__field1:focus ~ .form__label1 {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  /* color: #38caef; */
  font-weight: 700;
}

/* reset input */
.form__field1:required,
.form__field1:invalid {
  box-shadow: none;
}

.sub-button {
  position: relative;
  padding: 10px 22px;
  border-radius: 15px;
  border: none;
  color: #fff;
  cursor: pointer;
  /* background-color: #2a93e8; */
  /* transition: all 0.2s ease; */
  margin-top: 5%;
  margin-inline: auto;
  background: linear-gradient(180deg, #971EF6 10%, #541FAB 90%);
}

/* .sub-button:active {
  transform: scale(0.96);
} */

/* .button:before,
.button:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.button:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, #2a93e8 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #2a93e8 20%, transparent 30%),
    radial-gradient(circle, #2a93e8 20%, transparent 20%),
    radial-gradient(circle, #2a93e8 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #2a93e8 15%, transparent 20%),
    radial-gradient(circle, #2a93e8 20%, transparent 20%),
    radial-gradient(circle, #2a93e8 20%, transparent 20%),
    radial-gradient(circle, #2a93e8 20%, transparent 20%),
    radial-gradient(circle, #2a93e8 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.button:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #2a93e8 20%, transparent 20%),
    radial-gradient(circle, #2a93e8 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #2a93e8 15%, transparent 20%),
    radial-gradient(circle, #2a93e8 20%, transparent 20%),
    radial-gradient(circle, #2a93e8 20%, transparent 20%),
    radial-gradient(circle, #2a93e8 20%, transparent 20%),
    radial-gradient(circle, #2a93e8 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
} */

.alreadyAcc {
  width: 100%;
  text-align: center;
  margin-top: 2%;
}

.login_Address {
  text-decoration: underline;
  color: black;
  font-weight: 700;
  font-weight: 200;
  font-size: 14px;
}

.P_already {
  font-size: 12px;
}