.whole_tablee_tt11{
     background: #FFF;
    margin-left: 5%;
    width: 90%;
}

.table_head11{
    background: linear-gradient(160deg, rgb(153, 31, 248) 0%, rgb(86, 33, 173) 100%);
    color: #fff;
}