@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");  

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.button-view{
  color: #FFF;
  border-radius: 16px;
  background: linear-gradient(110deg, #981EF7 20.78%, #5520AC 84.3%);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
  
  border: none;
  cursor: pointer;
  outline: none;
  width: 82px;
  height: 33px;
  
  }
  .editPop1{
    height: auto !important;
    top: 37% !important;
  }
  .button-view:hover{
  background: white;
  color: black;
  border: 1.5px solid #981EF7;
  }
  .sortlebel{
    display: flex;
    gap: 10px;
  }
  .overlay{
    width: 100%;
      z-index: 100;
      background: transparent;
      min-height: 100vh;
      position: fixed;
      top: 0;
      backdrop-filter: blur(5px)
  }
  .edit-popup{
    width: 30%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 10px;
    border-radius: 15px;
    z-index: 1000;
    position: fixed;
    top: 37%;
    justify-content: space-evenly;
    left: 37%;
    background: linear-gradient(110deg, #981EF7 20.78%, #5520AC 84.3%);
    height: 270px;
  }
  
  .hoursInpEdit, .reasonInpEdit{
    width: 216px;
    height: 39px;
    background: #ffffff;
    backdrop-filter: blur(13px);
    border-radius: 15px;
    text-align: center;
    border: 1px solid rgb(84, 84, 84);
    outline: none;
  }
  .giveReasonDiv, .hoursEditDiv{
    gap: 10px;
    display: flex;
    width: 75%;
    justify-content: space-between;
  }
  .saveCancelBtn{
    color: #000000;
    border-radius: 16px;
    background: white;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
    padding: 10px;
    border: none;
    cursor: pointer;
    outline: none;
    width: 104px;
    border: 1px solid #ffffff8c;
  }
  .primaryBtn{
    color: #FFF;
    border-radius: 16px;
    background: linear-gradient(110deg, #981EF7 20.78%, #5520AC 84.3%);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
    padding: 10px;
    border: none;
    cursor: pointer;
    outline: none;
    width: 104px;
  }
  .actionpopButtons{
    display: flex;
    gap: 25px;
  }
  .EditPoplabel{
    color: white;
  }
  .editIcon:hover{
    scale: 1.3;
  }



/* .popups{
  width: 28%;
  border-radius: 32px;
  background: linear-gradient(138deg, #9400FF 0%, rgba(126, 28, 197, 0.00) 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #FFF;
  font-family: Urbanist;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.popups form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.popups .second-popup {
  display: flex;
  align-items: center;
} */

.popups label {

  flex: 1;
}
.join_div{
  width: 68%;
}
.join_join_date{
  width: 100%;
}

.popups input {
  flex: 2 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 39px;
  margin-top: 6%;
}


/* 
.status-container {
}

.running-dots-container {

  transform: translate(-50%, -50%);
  display: flex;
  float: right;
}

.dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin: 0 3px;
  animation: running-dot-animation 1s infinite alternate; 
}

.dot1 {
  background-color: red; 
}

.dot2 {
  background-color: green;
}

.dot3 {
  background-color: blue; 
}

@keyframes running-dot-animation {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
} */


.running-dots-container {
  transform: translate(-50%, -50%);
  display: flex;
  float: right;
}

.dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin: 0 3px;
  animation: running-dot-animation 3s infinite linear;
}

.dot1 {
  background-color: red; /* First dot color */
  animation-delay: 0s; 
}

.dot2 {
  background-color: green;
  animation-delay: 1s; 
}

.dot3 {
  background-color: blue; 
  animation-delay: 2s; 
}

@keyframes running-dot-animation {
  0%, 100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(5px);
  }
}











.task-container {
  text-align: center; /* Center the content in the task container */
  margin: 20px; /* Add margin as needed */
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px; /* Add margin between the heading and the flex container */
}

.left-content {
  /* Add styles for content on the left side */
  /* Example styles: */
  flex-grow: 1; /* Allow left content to grow and take available space */
  text-align: left;
}

.right-content {
  /* Add styles for content on the right side */
  /* Example styles: */
  text-align: right;
}
.task-container1 {
  text-align: center; /* Center the content in the task container */
  margin: 20px; /* Add margin as needed */
}

.flex-container1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 2px;  */
}

.left-content1 {
  /* Add styles for content on the left side */
  /* Example styles: */
  flex-grow: 1; /* Allow left content to grow and take available space */
  text-align: left;
}

.right-content1 {
  /* Add styles for content on the right side */
  /* Example styles: */
  text-align: right;
}

.admin_attand {
  /* Add styles for the input field */
  /* Example styles: */
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.myrecord{
  text-align: center;
  color: red;
}

.task-main-div {
  width: 100%;
  background: #E7E9F6;
  min-height: 100vh;
}
.form-ol-div {
  width: 85%;
}

.main-form-div {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-div {
  width: 96%;
  /* border: 2px solid red; */
  /* height: 64%; */
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2%;
  margin-top: 25px;
  
}


.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 4.5%;
  background: linear-gradient(180deg, #971EF6 10%, #541FAB 90%);
}
.innerNavDiv{
  display: flex;
    justify-content: space-between;
    width: 87%;
}
.logo-div{
  color: white !important;
}
.total-time-div {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.user-logout-btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  color: white;
}

.logoImg{
  width: 135px;
}
.task {
  width: 97%;
  word-break: break-all;
  margin-left: 3%;
  padding-top: 8px;
  font-size: 21px;
  white-space: nowrap;
  overflow: hidden;
  /* overflow-x: auto; */
  text-overflow: ellipsis;
 
}

.start-btn.disabled,
.stop-btn.disabled {
  cursor: not-allowed;
}

.timeBTN {
  width: 104px;
  height: 40px;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  order: 1;
  border-radius: 16px;
background: linear-gradient(99deg, #991FF8 21.08%, #5621AD 83.3%);
}

.timeBTN:hover {
  background-color: #5621AD;
}

.btn-div-Wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90%;
  padding: 10px;
}

.btn-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 31%;
  gap: 22px;
  padding: 10px;
  flex-direction: column;
  height: 100%;
  border-right: 1px solid black;
}

.strt-time {
  width: 100%;
  display: flex;
  gap: 10%;
  align-items: center;
  justify-content: space-between;
}

.listMapped_ordered {

  width: 100%;
  padding: 3%;
  list-style: none;
  display: flex;
  flex-direction: column-reverse;
  /* height: 100%; */
  gap: 2%;
  /* height: auto; */
  padding-top: 0;
}

.listMapped {
  width: 100%;
  height: 100%;
  margin-top: 1.5%;
  border-radius: 16px;
  background: white;;
  /* box-shadow: 17px 17px 38px #bebebe, -17px -17px 38px #ffffff; */
  padding: 10px;
   /* background: #e0e0e0; */
}



.totl-tm-div {
  /* width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2%; */
  width: 256px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2%;
  height: 142px;
  border-radius: 16px;
  background: white;
  
}

.totl-tim-inp {
  border: none;
  outline: none;
  cursor: default;
  text-align: center;
  background-color: transparent;
  font-family: 'Big Shoulders Inline Display', sans-serif;
  background: linear-gradient(180deg, #991FF8 0%, #1a1423 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4rem;
  width: 100%;
}

.totl-ti {
  
  text-align: center;
  margin-top: 20px;
}



.totl-label2{
 color: white;
}
.totl-tm-div-2 {
  width: 250px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 2%;
      height: 142px;
      border-radius: 16px;
      /* background: white; */
      background: linear-gradient(180deg, #971EF6 10%, #541FAB 90%);

}



.total-timewalaInp{
  background: linear-gradient(180deg, #991FF8 0%, #5E20B6 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Big Shoulders Inline Display', sans-serif;
  width: 100%;
  /* height: 50%; */
  font-size: 90px;
  font-size: 3.6rem;
  font-weight: 900;
  height: auto;
}
.total-timewalaInp2{
  width: 100%;
  /* height: 50%; */
  font-size: 90px;
  font-size: 3.5rem;
  font-weight: 900;
  height: auto;
  background: linear-gradient(180deg, #fff 0%, #fff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #fff;
}

.button{
  background-color: white !important;
  color: black !important;
  border-radius: 15px !important;
}

.add-btn {
  margin-top: 0% !important;
  border-radius: 16px;
  background: linear-gradient(110deg, #981EF7 20.78%, #5520AC 84.3%);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
  color: white !important;
  position: absolute !important;
  left: 45%;
  bottom: 16%;
}

.search-taskInp{
  height: 100%;
  font-weight: 400 !important;
}
.taskInp_main{
  width: 65% !important;
  height: 144px;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.register_container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://i.redd.it/dq7zpx79hnu61.jpg");
  /* background-image: url("https://wallpaperaccess.com/full/1149125.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.register_box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register_left {
  border-radius: 15px;
  background: rgba(209, 209, 209, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 435px;
}
.editNavIcon{
  position: absolute;
  bottom: 0;
  right: 4px;
}
.form_here {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.usersName{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 75%;
}
.form__group {
  position: relative;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: none;
  /* border-bottom: 1px solid #9b9b9b; */
  outline: 0;
  font-size: 17px;
  color: black;
  padding: 7px 0;
  background: white;
  transition: border-color 0.2s;
  border-radius: 15px;
  padding-left: 28px
}


.form__field:placeholder-shown ~ .form__label {
  font-size: 15px;
  cursor: text;
  top: 20px;
  left: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #1b1b1b;
  pointer-events: none;
  display: none !important;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 1px;
  border-image: linear-gradient(to right, #5520AC, #5520AC);
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: -11px;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #5520AC;
  font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

.button {
  position: relative;
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #2a93e8;
  transition: all 0.2s ease;
  margin-top: 5%;
  margin-inline: auto;
}

.button:active {
  transform: scale(0.96);
}

.button:before,
.button:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}
.textAreaTasks{
  resize: none;
  width: 100%;
  height: 100%;
}
.fileInpEdit{
  background-color: transparent;
  border: none;
  color: white;
}
.button:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, #2a93e8 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #2a93e8 20%, transparent 30%),
    radial-gradient(circle, #2a93e8 20%, transparent 20%),
    radial-gradient(circle, #2a93e8 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #2a93e8 15%, transparent 20%),
    radial-gradient(circle, #2a93e8 20%, transparent 20%),
    radial-gradient(circle, #2a93e8 20%, transparent 20%),
    radial-gradient(circle, #2a93e8 20%, transparent 20%),
    radial-gradient(circle, #2a93e8 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.button:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #2a93e8 20%, transparent 20%),
    radial-gradient(circle, #2a93e8 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #2a93e8 15%, transparent 20%),
    radial-gradient(circle, #2a93e8 20%, transparent 20%),
    radial-gradient(circle, #2a93e8 20%, transparent 20%),
    radial-gradient(circle, #2a93e8 20%, transparent 20%),
    radial-gradient(circle, #2a93e8 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.alreadyAcc {
  width: 100%;
  text-align: center;
  margin-top: 2%;
}

.login_Address {
  text-decoration: underline;
  color: black;
  font-weight: 700;
  font-weight: 200;
  font-size: 14px;
}

.P_already {
  font-size: 12px;
}

/* table css  */
/*  */
table { 
    width: 94%; 
    border-collapse: collapse; 
    margin-left: 3%;
    
  }
  /* Zebra striping */
  tr:nth-of-type(odd) { 
    background: white; 
  }
  th { 
    background: #971ef6;
    color: white; 
    font-weight: bold; 
    border: none !important;
  }
  td, th { 
    padding: 6px; 
    border: 1px solid #2a2a2a; 
    text-align: center; 
    white-space: nowrap;       /* Prevent text from wrapping */
    overflow: hidden;          /* Hide the overflowing content */
    text-overflow: ellipsis;    
  }
  
  .button-view1{
    width: 100px;
    height: 32px;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    order: 1;
    border-radius: 12px;
    background: linear-gradient(99deg, #991FF8 21.08%, #5621AD 83.3%);
  }


  @media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px)  {
  
      /* Force table to not be like tables anymore */
      table.responsive, .responsive thead, .responsive tbody, .responsive th, .responsive td, .responsive tr { 
          display: block; 
      }
      
      /* Hide table headers (but not display: none;, for accessibility) */
      .responsive thead tr { 
          position: absolute;
          top: -9999px;
          left: -9999px;
      }
      
      .responsive tr { border: 1px solid #ccc; }
      
      .responsive td { 
          /* Behave  like a "row" */
          border: none;
          border-bottom: 1px solid #eee; 
          position: relative;
          padding-left: 50%; 
      }
      
      .responsive td:before { 
          /* Now like a table header */
          position: absolute;
          /* Top/left values mimic padding */
          top: 6px;
          left: 6px;
          width: 45%; 
          padding-right: 10px; 
          white-space: nowrap;
      }
      
      /*
      Label the data
      */
      .responsive td:before { content: attr(data-table-header); }
  }
  
  .table-responsive .bootstrap {
    min-height: .01%;
    overflow-x: auto;
  }
  @media screen and (max-width: 767px) {
    .table-responsive.bootstrap {
      width: 100%;
      margin-bottom: 15px;
      overflow-y: hidden;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      border: 1px solid #ddd;
    }
    .table-responsive.bootstrap > .table {
      margin-bottom: 0;
    }
    .table-responsive.bootstrap > .table > thead > tr > th,
    .table-responsive.bootstrap > .table > tbody > tr > th,
    .table-responsive.bootstrap > .table > tfoot > tr > th,
    .table-responsive.bootstrap > .table > thead > tr > td,
    .table-responsive.bootstrap > .table > tbody > tr > td,
    .table-responsive.bootstrap > .table > tfoot > tr > td {
      white-space: nowrap;
    }
    .table-responsive.bootstrap > .table-bordered {
      border: 0;
    }
    .table-responsive.bootstrap > .table-bordered > thead > tr > th:first-child,
    .table-responsive.bootstrap > .table-bordered > tbody > tr > th:first-child,
    .table-responsive.bootstrap > .table-bordered > tfoot > tr > th:first-child,
    .table-responsive.bootstrap > .table-bordered > thead > tr > td:first-child,
    .table-responsive.bootstrap > .table-bordered > tbody > tr > td:first-child,
    .table-responsive.bootstrap > .table-bordered > tfoot > tr > td:first-child {
      border-left: 0;
    }
    .table-responsive.bootstrap > .table-bordered > thead > tr > th:last-child,
    .table-responsive.bootstrap > .table-bordered > tbody > tr > th:last-child,
    .table-responsive.bootstrap > .table-bordered > tfoot > tr > th:last-child,
    .table-responsive.bootstrap > .table-bordered > thead > tr > td:last-child,
    .table-responsive.bootstrap > .table-bordered > tbody > tr > td:last-child,
    .table-responsive.bootstrap > .table-bordered > tfoot > tr > td:last-child {
      border-right: 0;
    }
    .table-responsive.bootstrap > .table-bordered > tbody > tr:last-child > th,
    .table-responsive.bootstrap > .table-bordered > tfoot > tr:last-child > th,
    .table-responsive.bootstrap > .table-bordered > tbody > tr:last-child > td,
    .table-responsive.bootstrap > .table-bordered > tfoot > tr:last-child > td {
      border-bottom: 0;
    }
    .naviCrumbles{
      flex-direction: column;
      gap: 10px;
    }
    .innerNavDiv{
      width: 100%;
    }
    .form-div{
      width: 100%;
      flex-direction: column;
      gap: 15px;
      padding: 0;
      margin-left: 0;
      margin-bottom: 20px;
    }
    .taskInp_main{
      width: 100% !important;
      height: 200px !important;
    }
    .totl-tm-div,.totl-tm-div-2{
      width: 100%;
    }
    .user-logout-bt{
      width: 37%;
    }
    .user-logout-btn, .btn-div{
      width: 100%;
      border: none;
    
    }
    .usersName{
      display: none;
    }
    .btn-div-Wrapper{
      flex-direction: column;
    }
    .btn-div{
      border-bottom: 1px solid #ccc;
    }
    .edit-popup{
      width: 65%;
      left: 50%;
      transform: translateX(-50%);
    }
   
  }
  @media screen and (min-width: 768px) and (max-width: 1024px){
    .edit-popup{
      width: 60%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @media screen and (min-width: 300px) and (max-width: 500px) {
    .naviCrumbles{
      flex-direction: column;
      gap: 10px;
    }
    .innerNavDiv{
      width: 100% !important;
      flex-direction: column;
    }
    .user-logout-bt{
      width: 37% !important;
    }
    table {
      width: 95%;
    }
    .flex-container1{
      flex-direction: column;
      gap: 15px;
      text-align: justify;
    }
    .left-content1 {
      flex-grow: 1;
      text-align: left;
      font-size: 15px;
      width: 100%;
  }
  .flex-container{
    flex-direction: column;
  }
  .left-content {
    flex-grow: 1;
    text-align: center;
}
.task-container {
  text-align: center;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}
.listMapped_ordered {
  gap: 15px;
}
.right-content, .admin_attand{
  width: 100%;
}
.edit-popup{
  width: 98%;
  left: 50%;
}
.giveReasonDiv, .hoursEditDiv {
  gap: 10px;
  display: flex;
  width: 99%;
  justify-content: space-between;
}
.profilePreview{
  display: none;
}
  }